.main-input {
	display: flex;
	align-items: center;
	width: 100%;

	&__general {
		display: flex;
		flex-direction: column;
		grid-row-gap: 20px;
	}

	&__car {
		margin-left: 200px;
	}
}

@media (max-width: 1440px) {
	.main-input {

		&__car {
			& svg {
				width: 160px;
				height: 85px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.main-input {

		&__general {
			grid-row-gap: 35px;
		}

		&__car {
			margin-left: 100px;

			& svg {
				width: 130px;
				height: 70px;
			}
		}
	}
}

@media (max-width: 768px) {
	.main-input {

		&__general {
			grid-row-gap: 20px;
		}
	}
}

@media (max-width: 768px) {
	.main-input {
		&__general {
			width: 100%;
		}

		&__car {
			display: none;
		}
	}
}