.car-info
	.car-info__general
		.car-info__image
			include ../../images/svg/green-car.svg
		.car-info__text
			p Информация об исходном авто
			h3.car-info__text-title Audi Q5, 2018, AT
			p 2.0 л, 139 л.с., белый
	.car-info__pay
		button.car-info__button.change-modal-btn Оплатить
		.car-info__hint
			.car-info__hint-img
				include ../../images/svg/hint.svg
			.car-info__hint-text После нажатия на кнопку "Оплатить" вы будете направлены на страницу оплаты.<br/>Ссылка на отчёт будет отправлена на указанный e-mail или телефонный номер в SMS.
			.car-info__hint-text--mobile После нажатия на кнопку "Оплатить" вы будете направлены на страницу оплаты. Ссылка на отчёт будет отправлена на указанный e-mail или телефонный номер в SMS.