.car-info.car-info-bought
	.car-info__general.car-info-bought__general
		.car-info__image
			include ../../images/svg/green-car.svg
		.car-info__text
			p Информация об исходном авто
			h3.car-info__text-title Audi Q5, 2018, AT
			p 2.0 л, 139 л.с., белый
	.car-info__pay.car-info-bought__btns
		a(href="/", target="_blank").car-info__button.change-modal-btn.car-info-bought__button Купить ещё один отчет
		button.car-info__button.change-modal-btn.car-info-bought__button Сохранить в PDF
	a(href="#hint-report").car-info__hint.car-info-bought__hint Безлимитные отчеты со скидкой 30%