section.charts 
    .charts__chart
        div(style="--p: 75;  --c: #2DC574").charts__chart-body
            .charts__chart-border
            p.charts__chart-value(id="c1" data-value="75")
        p.charts__chart-text Продаваемых подержанных автомобилей участвовали в ДТП

    .charts__chart
        div(style="--p: 22;  --c: #2DC574").charts__chart-body
            .charts__chart-border
            p.charts__chart-value(id="c2" data-value="22")
        p.charts__chart-text Имеют скрученный пробег

    .charts__chart
        div(style="--p: 5;  --c: #2DC574").charts__chart-body
            .charts__chart-border
            p.charts__chart-value(id="c3" data-value="5")
        p.charts__chart-text Имеют наложенные ограничения

    .charts__chart
        div(style="--p: 3;  --c: #2DC574").charts__chart-body
            .charts__chart-border
            p.charts__chart-value(id="c4" data-value="3")
        p.charts__chart-text Использовались для работы в такси        