footer.footer 
	.footer__social
		a(href="https://avclick.me/v/AVinfoBot", target="_blank")
			include ../../images/svg/social/telegram.svg
		a(href="https://vk.com/av100ru", target="_blank")
			include ../../images/svg/social/vk.svg
		a(href="https://www.youtube.com/channel/UCgkj_17BkCi2FN_6_41DAUA", target="_blank")
			include ../../images/svg/social/youtube.svg
		//- a(href="#")
		//- 	include ../../images/svg/social/inst.svg
		//- a(href="#")
		//- 	include ../../images/svg/social/facebook.svg
	.footer__contacts
		.footer__contacts-item 
			p.footer__contact-title Бесплатный телефон:
			.footer__contacts-phone 
				a(href="tel: 8-800-200-0748").src-green 8-800-200-0748 
				p.footer__contacts-time 9:00 –21:00 МСК
		.footer__contacts-item
			p.footer__contact-title Email:
			a(href="mailto:help@av100.pro").src-green help@av100.pro
	.footer__logo
		a(href="https://av100.pro/", target="_blank")
			include ../../images/svg/logo-av100.svg
		p.footer__logo-text © 2022
	.footer__store
		a(href="https://play.google.com/store/apps/details?id=com.av100.androidavito2", target="_blank")
			include ../../images/svg/google-play.svg
		a(href="https://apps.apple.com/ru/app/av100-pro/id1608189691", target="_blank")
			include ../../images/svg/app-store.svg