.hint-block 
	.hint-block__image 
		include ../../images/svg/hint.svg
	.hint-block__image-mobile 
		include ../../images/svg/white-hint-mobile.svg
	p.hint-block__text Чтобы получить информацию об автомобиле, вам необходимо оплатить