section.logos 
    img(src="../../images/img/logos/fnp.jpg" alt="фнп").logos__logo
    img(src="../../images/img/logos/fssp.jpg" alt="фссп").logos__logo
    img(src="../../images/img/logos/gbdd.jpg" alt="гибдд").logos__logo
    img(src="../../images/img/logos/nbki.jpg" alt="нбки").logos__logo
    img(src="../../images/img/logos/road.jpg" alt="роад").logos__logo
    img(src="../../images/img/logos/rsa.jpg" alt="рса").logos__logo