.main-input
    .main-input__general
        h1.title Проверь <span class="bold">историю автомобиля</span> перед покупкой
        include ./ui/input.pug
    .main-input__car 
        include ../../images/svg/green-car.svg