.more-info
	h2.more-info__title.subtitle Отчеты от <span class="bold">AVinfoBot</span> дают вам максимально полную информацию об автомобиле и его владельце.
	.more-info__content 
		.more-info__head 
			p.big-title Подробнее
			.more-info__open
				p.more-info__open-text Раскрыть
				.more-info__open-img.more-info__img-js
					include ../../images/svg/open-arrow.svg
				.more-info__open-img-mobile.more-info__img-js
					include ../../images/svg/open-arrow-mobile.svg
		.more-info__text
			ul.more-info__list
				li.more-info__list-item характеристики автомобиля.
				li.more-info__list-item судебные решения.
				li.more-info__list-item повреждения.
				li.more-info__list-item данные по VIN.
				li.more-info__list-item.more-info__open-li
					p.more-info__open-info информация о пробеге.
					p.more-info__dop-text.more-info__dop-text--mobile Если пробег был скручен, вы не сможете оценить реальный износ авто. Мы запрашиваем показатели, зарегистрированные в ходе техосмотров, чтобы вы смогли сравнить их с указанными продавцом

			ul.more-info__list
				li.more-info__list-item.more-info__open-li
					p.more-info__open-info информация о штрафах.
					p.more-info__dop-text.more-info__dop-text--mobile При большой сумме штрафа высок риск, что на авто могут быть наложены ограничения, с которыми разбираться придется покупателю.

			ul.more-info__list
				li.more-info__list-item.more-info__open-li
					p.more-info__open-info информация о владельцах.
					p.more-info__dop-text.more-info__dop-text--mobile Чем меньше было владельцев — тем лучше, где: 1 владелец — превосходно, 6+ — не стоит брать.

			ul.more-info__list
				li.more-info__list-item.more-info__open-li
					p.more-info__open-info нахождение в розыске/залоге.
					p.more-info__dop-text.more-info__dop-text--mobile Авто может быть угнано или находиться в реестре залогов. Обезопасьте себя.

			ul.more-info__list
				li.more-info__list-item.more-info__open-li
					p парковочные сессии.
					p.more-info__dop-text По ним вы можете получить номер телефона владельца, чтобы связаться с ним напрямую или определить, с кем имеете дело: с собственником или перекупщиком.

			ul.more-info__list
				li.more-info__list-item.more-info__open-li
					p фотографии автомобиля.
					p.more-info__dop-text Кроме фото из объявлений могут быть доступны фотоотчеты с мест ДТП, СТО и т.д.

			ul.more-info__list
				li.more-info__list-item.more-info__open-li
					p.more-info__open-info средняя рыночная стоимость.
					p.more-info__dop-text.more-info__dop-text--mobile Показывает, насколько стоимость отличается от средней стоимости автомобилей той же модели с похожими характеристиками.

			ul.more-info__list
				li.more-info__list-item.more-info__open-li
					p обращения к Fit Service, Wilgood.
					p.more-info__dop-text Если были обращения в эти сервисы, то вы увидите, с какими именно запросами.

			ul.more-info__list
				li.more-info__list-item.more-info__open-li
					p.more-info__open-info отчет о проверке в CarPrice.
					p.more-info__dop-text.more-info__dop-text--mobile Отчеты в CarPrice очень детальные. Если там проводилась диагностика, вы увидите еще больше информации об автомобиле.

			ul.more-info__list
				li.more-info__list-item.more-info__open-li
					p.more-info__open-info найденные объявления.
					p.more-info__dop-text.more-info__dop-text--mobile По частоте обновлений можно предположить, кто продает авто: владелец или перекупщик. Также возможно оценить, как долго продается автомобиль: на хороший товар покупателя долго искать не придется.