.payment-modal
	.payment-modal__body 
		h3.payment-modal__title оплата
		form(action="payment", method="post").payment-modal__form
			fieldset.payment-modal__fieldset
				label(for="email").payment-modal__label Email
				input(type="email", id="email", name="email", required).payment-modal__input
			fieldset.payment-modal__fieldset
				label(for="phone").payment-modal__label Телефон
				input(type="text", id="phone", name="phone", required).payment-modal__input
			button.payment-modal__button Оплатить
		p.payment-modal__hint После нажатия на кнопку "Оплатить" вы будете направлены на страницу оплаты. Ссылка на отчёт будет отправлена на указанный e-mail или телефонный номер в SMS.
		.payment-modal__close.change-modal-btn
			include ../../images/svg/green-cross.svg
