.swiper-container.slider
	.slider__nav.slider__prev
		include ../../images/svg/slider-arrow.svg
	.slider__nav.slider__next
		include ../../images/svg/slider-arrow.svg
	.swiper-pagination.slider__pagination
	.slider__swipe-img 
		include ../../images/svg/swipe-slider.svg
	.swiper-wrapper.slider__wrapper
		.swiper-slide.slider__slide
			img(src="./images/img/slider/dtp.png").slider__background
			.slider__info
				p.slider__title ДТП
				p.slider__text В отчете вы сможете оценить серьезность полученных ранее повреждений.<br/>Серьезные аварии, даже после ремонта, могут дать о себе знать в будущем.
		.swiper-slide.slider__slide
			img(src="./images/img/slider/ogran.jpeg").slider__background
			.slider__info
				p.slider__title Наличие ограничений
				p.slider__text Если на авто наложены ограничения (например, из-за больших штрафов) —<br/>вы не сможете поставить его на учет.
		.swiper-slide.slider__slide
			img(src="./images/img/slider/carsh.jpg").slider__background
			.slider__info
				p.slider__title Использование в каршеринге, в качестве такси
				p.slider__text Работа в такси или каршеринге — это приговор для автомобиля.
		.swiper-slide.slider__slide
			img(src="./images/img/slider/timeauto.jpg").slider__background
			.slider__info
				p.slider__title Периоды владения ТС
				p.slider__text Если владельцы часто меняют автомобиль, вероятно с ним возникают проблемы.
		.swiper-slide.slider__slide
			img(src="./images/img/slider/to.jpg").slider__background
			.slider__info
				p.slider__title Пройденные техосмотры (ЕАИСТО)
				p.slider__text Если техосмотр не пройден, то у покупателя могут возникнуть дополнительные расходы.
		.swiper-slide.slider__slide
			img(src="./images/img/slider/osago.jpg").slider__background
			.slider__info
				p.slider__title Полис ОСАГО
				p.slider__text Показывает, кто ездит на автомобиле: хозяин или третье лицо.
		.swiper-slide.slider__slide
			img(src="./images/img/slider/detal.jpg").slider__background
			.slider__info
				p.slider__title Отзывные кампании
				p.slider__text Показывает, попадает ли автомобиль под бесплатную замену деталей.