h2.subtitle.subscribe-title Подписка на безлимитные отчёты AVinfo
.subscribe 
	.subscribe__images 
		img(src="./images/img/cars.png", alt="cars").subscribe__img
	.subscribe__info
		p.subscribe__text Чтобы найти хороший автомобиль, обычно уходит немало времени и приходится проверить множество предложений.
		p.subscribe__text <span class="bold">AVinfo</span> предлагает возможность значительно сэкономить, оформив подписку на отчёты.
		p.subscribe__text Подписка действует <span class="bold">30 дней</span> и позволяет получить неограниченное количество отчётов за это время.
		p.subscribe__text.subscribe__text--down Подписка подключается в телеграм-боте <a href="https://avclick.me/v/AVinfoBotPro" target="_blank" class="src-green">AVinfoBot</a>.
		p.subscribe__text Подключите его на <a href="https://avinfobot.me/" target="_blank" class="src-green">сайтe AVinfoBot</a>.