doctype html
html(lang="en")

head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title AVinfoBot - проверка Авто

body
	include ../components/header.pug
	main.main.index
		.index__main-input
			include ../components/mainInput.pug
		.index__charts
			include ../components/charts.pug
		.index__logos
			include ../components/logos.pug
		.index__more-info
			include ../components/moreinfo.pug
		.index__slider
			include ../components/slider.pug
		.index__examples-rep
			include ../components/examplesrep.pug
		.index__subscribe
			include ../components/subscribe.pug
	.index__footer
		include ../components/footer.pug