.index-page {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 73px;

	&__general {
		margin-top: 46px;
		display: flex;
		align-items: center;
		grid-column-gap: 200px;
	}

	&__general-input {
		display: flex;
		flex-direction: column;
		grid-row-gap: 20px;
	}
}

.bold-text {
	font-weight: 700;
}

@media (max-width: 1440px) {
	.index-page {
		padding: 0 60px;

		&__general {
			margin-top: 32px;
		}

		&__general-car {
			width: 160px;
			height: 85px;
		}
	}
}

@media (max-width: 1000px) {
	.index-page {
		padding: 0 30px;

		&__general {
			grid-column-gap: 100px;
			margin-top: 20px;
		}

		&__general-car {
			width: 130px;
			height: 70px;
		}

		&__general-input{
			grid-row-gap: 35px;
		}
	}
}

@media (max-width: 768px) {
	.index-page {
		padding: 0 15px;

		&__general {
			margin-top: 14px;
		}

		&__general-car {
			display: none;
		}

		&__general-input{
			grid-row-gap: 20px;
			width: 100%;
		}
	}
}